{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}


{% for post in page %}
<br>
<div>
  <p class="card-text">
    {{ post }}
    <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
      <a href="{% url 'profile' post.author.username %}">
      <strong class="d-block text-gray-dark">
        @{{ post.author.username }}
      </strong>
      </a>
    <!-- Текст поста -->
    {{ post.text }}
  </p>
</div>
<br>
{% endfor %}

{% include "includes/paginator.html" %}

{% endblock %}