{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      {% if is_edit == '0' %}
      <div class="card-header">Создание новой записи</div>
      {% include 'includes/createform.html' %}
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Сохранить
        </button>
        {% else %}
        <div class="card-header">Редактирование записи</div>
        {% include 'includes/createform.html' %}
        <div class="col-md-6 offset-md-4">
          <button type="submit" class="btn btn-primary">
            Отредактировать
          </button>
          {% endif %}
        </div>
        <br>
        </form>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}